@import "breakpoints.module";
@import "spacing.module";
@import "shadows.module";

.container {
    width: 100%;
    max-width: breakpoint(sm);
    @extend %mx-auto;
    @extend %mt-10;
}

.wrapper {
    background: #fff;
    @extend %shadow-md;
    border-radius: 0.25rem;
    @extend %px-8;
    @extend %pt-6;
    @extend %pb-8;
    @extend %mb-4;
}
