@import "breakpoints.module";
@import "spacing.module";
@import "colors.module";

.base {
    background: color(gray, 200);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    letter-spacing: 0;
    line-height: 1.5;
    height: 100vh;
}

.container {
    width: 100%;
    @extend %pt-24;
    @extend %mx-auto;

    @include respond-from(sm) {
        max-width: breakpoint(sm);
    }

    @include respond-from(md) {
        max-width: breakpoint(md);
    }

    @include respond-from(lg) {
        max-width: breakpoint(lg);
    }

    @include respond-from(xl) {
        max-width: breakpoint(xl);
    }
}
