@import "spacing.module";
@import "colors.module";

.button {
    background: transparent;
    color: color(blue, 700);
    font-weight: 600;
    border: spacing(px) solid color(blue);
    @extend %py-2;
    @extend %px-4;
    border-radius: 0.25rem;

    &:hover {
        background: color(blue);
        color: #fff;
        border-color: transparent;
    }
}
