@import "spacing.module";
@import "colors.module";

.container {
    @extend %my-5;
}

.error {
    color: color(red);

    .input,
    .input:focus {
        border-color: color(red);
    }
}

.error_message {
    @extend %pl-3;
}

.wrapper {
    position: relative;
}

.label {
    position: absolute;
    @extend %pl-3;
    @extend %pb-2;
}

.input {
    appearance: none;
    border-bottom-width: 2px;
    width: 100%;
    @extend %py-2;
    @extend %px-3;
    line-height: 1.25;
    &:focus {
        outline: none;
        border-color: color(blue, 300);
    }
}
