@import "spacing.module";
@import "colors.module";
@import "shadows.module";
@import "font.module";
@import "breakpoints.module";

.navbar {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: color(blue);
    @extend %p-6;
    @extend %shadow;
    z-index: 10;
}

.site_name {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    @extend %mr-6;
}

.site_name_link {
    color: #fff;
    text-decoration: none;
    @extend %pl-2;
    @extend %text-2xl;

    &:hover {
        text-decoration: none;
    }
}

.menu_button_wrapper {
    display: block;
    @include respond-from(lg) {
        display: none;
    }
}

.menu_button {
    display: flex;
    align-items: center;
    @extend %px-3;
    @extend %py-2;
    border: 1px #fff solid;
    border-radius: 0.25rem;
    color: #fff;
    svg {
        fill: currentColor;
        @extend %h-3;
        @extend %w-3;
    }
}

.menu_list_container_hidden {
    display: none;
}

.menu_list_container {
    width: 100%;
    flex-grow: 1;
    @extend %pt-6;

    @include respond-from(lg) {
        display: block;
        align-items: center;
        width: auto;
        padding-top: 0;
    }
}

.menu_list {
    @include respond-from(lg) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex: 1;
    }

    li {
        margin-right: spacing(3);
    }
}

.menu_link {
    display: inline-block;
    color: color(gray, 600);
    text-decoration: none;
    @extend %py-2;
    @extend %px-4;

    &:hover {
        color: color(gray, 200);
        text-decoration: underline;
    }
}

.menu_link_active {
    color: #fff;
}
