$breakpoints: (
    xs: 480px,
    sm: 640px,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
);

@function breakpoint($size) {
    @if map-has-key($breakpoints, $size) {
        @return map-get($breakpoints, $size);
    }

    @warn "Unknown `#{$size}` in $breakpoints.";
    @return null;
}

@mixin respond-from($media) {
    @each $breakpoint in $breakpoints {
        @if $media == nth($breakpoint, 1) {
            @media (min-width: #{nth($breakpoint, 2)}) {
                @content;
            }
        }
    }
}
