$sizes: (
    px: 1px,
    0: 0,
    1: 0.25rem,
    2: 0.5rem,
    3: 0.75rem,
    4: 1rem,
    5: 1.25rem,
    6: 1.5rem,
    8: 2rem,
    10: 2.5rem,
    12: 3rem,
    16: 4rem,
    20: 5rem,
    24: 6rem,
    32: 8rem,
    40: 10rem,
    48: 12rem,
    56: 14rem,
    64: 16rem,
    auto: auto,
);

@function spacing($size: 4) {
    @if map-has-key($sizes, $size) {
        @return map-get($sizes, $size);
    }

    @warn "Unknown `#{$size}` in $sizes.";
    @return null;
}

@each $name, $size in $sizes {
    %p-#{$name} {
        padding: $size;
    }
    %pt-#{$name} {
        padding-top: $size;
    }
    %pr-#{$name} {
        padding-right: $size;
    }
    %pb-#{$name} {
        padding-bottom: $size;
    }
    %pl-#{$name} {
        padding-left: $size;
    }
    %px-#{$name} {
        padding-left: $size;
        padding-right: $size;
    }
    %py-#{$name} {
        padding-top: $size;
        padding-bottom: $size;
    }

    %m-#{$name} {
        margin: $size;
    }
    %mt-#{$name} {
        margin-top: $size;
    }
    %mr-#{$name} {
        margin-right: $size;
    }
    %mb-#{$name} {
        margin-bottom: $size;
    }
    %ml-#{$name} {
        margin-left: $size;
    }
    %mx-#{$name} {
        margin-left: $size;
        margin-right: $size;
    }
    %my-#{$name} {
        margin-top: $size;
        margin-bottom: $size;
    }

    %h-#{$name} {
        height: $size;
    }
    %w-#{$name} {
        width: $size;
    }
}

@mixin padding(
    $top: null,
    $right: null,
    $bottom: null,
    $left: null,
    $media: null
) {
    @if $media {
        @media #{$media} {
            padding-top: map-get($sizes, $top);
            padding-right: map-get($sizes, $right);
            padding-bottom: map-get($sizes, $bottom);
            padding-left: map-get($sizes, $left);
        }
    } @else {
        padding-top: map-get($sizes, $top);
        padding-right: map-get($sizes, $right);
        padding-bottom: map-get($sizes, $bottom);
        padding-left: map-get($sizes, $left);
    }
}

@mixin margin(
    $top: null,
    $right: null,
    $bottom: null,
    $left: null,
    $media: null
) {
    @if $media {
        @media #{$media} {
            margin-top: map-get($sizes, $top);
            margin-right: map-get($sizes, $right);
            margin-bottom: map-get($sizes, $bottom);
            margin-left: map-get($sizes, $left);
        }
    } @else {
        margin-top: map-get($sizes, $top);
        margin-right: map-get($sizes, $right);
        margin-bottom: map-get($sizes, $bottom);
        margin-left: map-get($sizes, $left);
    }
}
